In [50]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

import os

In [51]:
df  = pd.read_csv(os.getcwd() + '\\abalone.data', header=None)
df.columns = ['Sex', 'Length', 'Diameter', 'Height', 'Whole weight',
       'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings']

print(df.shape)
df.head()

(4177, 9)

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [52]:
df['Sex'].value_counts()

M    1528
I    1342
F    1307
Name: Sex, dtype: int64

In [53]:
# Add NaN values
print(df.count())
print(df.shape)
print('Num of null values: ' + str(df.isnull().sum().sum()))

nan_mat = np.random.random(df.shape)<0.15

df = df.mask(nan_mat)
print('\nNum of null values: ' + str(df.isnull().sum().sum()))

Sex               4177
Length            4177
Diameter          4177
Height            4177
Whole weight      4177
Shucked weight    4177
Viscera weight    4177
Shell weight      4177
Rings             4177
dtype: int64
(4177, 9)
Num of null values: 0

Num of null values: 5564

In [54]:
df.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15.0
1,NaN,0.350,0.265,NaN,0.2255,0.0995,0.0485,0.070,7.0
2,F,0.530,NaN,0.135,0.6770,0.2565,0.1415,NaN,NaN
3,M,0.440,NaN,0.125,0.5160,0.2155,0.1140,0.155,NaN
4,NaN,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7.0